# Level 2 - Task 3: Feature Engineering

In [1]:
import pandas as pd

df = pd.read_csv("/Users/arindamsharma/Desktop/Cognifyz Internship/Dataset.csv")

In [2]:
#Additional features of the restaurant
df['Name Length'] = df['Restaurant Name'].apply(lambda x: len(str(x)))
df['Address Length'] = df['Address'].apply(lambda x: len(str(x)))

df[['Restaurant Name', 'Name Length', 'Address', 'Address Length']].head()

,Restaurant Name,Name Length,Address,Address Length
0,Le Petit Souffle,16,"Third Floor, Century City Mall, Kalayaan Avenu...",71
1,Izakaya Kikufuji,16,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...",67
2,Heat - Edsa Shangri-La,22,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...",56
3,Ooma,4,"Third Floor, Mega Fashion Hall, SM Megamall, O...",70
4,Sambo Kojin,11,"Third Floor, Mega Atrium, SM Megamall, Ortigas...",64

In [ ]:
#Encoding Categorical variables:
df['Table_Booking_Encoded'] = df['Has Table booking'].map({'Yes': 1, 'No': 0})
df['Online_Delivery_Encoded'] = df['Has Online delivery'].map({'Yes': 1, 'No': 0})

df[['Has Table booking', 'Table_Booking_Encoded', 'Has Online delivery', 'Online_Delivery_Encoded']].head()

,Has Table booking,Table_Booking_Encoded,Has Online delivery,Online_Delivery_Encoded
0,Yes,1,No,0
1,Yes,1,No,0
2,Yes,1,No,0
3,No,0,No,0
4,Yes,1,No,0

In [4]:
# Final check
print(df[['Name Length', 'Address Length', 'Table_Booking_Encoded', 'Online_Delivery_Encoded']].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name Length              9551 non-null   int64
 1   Address Length           9551 non-null   int64
 2   Table_Booking_Encoded    9551 non-null   int64
 3   Online_Delivery_Encoded  9551 non-null   int64
dtypes: int64(4)
memory usage: 298.6 KB
None